<section>
  <div class="relative h-fit">
    <div class="w-fit mx-auto my-10">
      <div class="w-fit">
        <h1 class="text-4xl uppercase my-10 m-8">About Us</h1>
      </div>
      <div class="w-80 h-72 p-2 bg-slate-600 rounded-lg mb-14 mx-auto">
      
      </div>
      <div class="w-96">
      <p class="m-8 text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, nisi eum. Fugit eum vitae ratione blanditiis, quis esse accusantium itaque ullam maxime deleniti perferendis, doloribus laudantium! Autem delectus corrupti nobis magnam assumenda amet doloremque provident nostrum officiis, facere necessitatibus aspernatur voluptatum veritatis eaque sed in recusandae, quibusdam, illo voluptates maxime perspiciatis quae adipisci sapiente illum! Quidem quia non exercitationem quas quibusdam porro in eligendi saepe nemo voluptate dolore expedita quisquam nostrum ea perferendis nobis cupiditate mollitia ex, enim nihil. Hic quibusdam ut odio voluptate error, beatae dicta reiciendis, voluptas ullam placeat eius id, asperiores reprehenderit fugiat. Sunt porro delectus molestias.</p>
      </div>
    </div>
  </div>
</section>